ion-segment{
    background: rgb(4, 72, 7);
}
ion-segment-button{
    --color:rgba(255, 255,255,0.63);
    --color-checked:white;
    --indicator-height:5px;
    --indicator-color:rgba(238, 238, 238);
}


.name{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.msg{
    font-size: 15px;
    font-weight: bold;
}

.time{
    font-weight: bold;
}