<ion-header mode="md">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
      
        <ion-icon slot="icon-only" name="menu"></ion-icon>
    
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-label class="ion-text-wrap ion-text-justify">Sri Guru Singh Sabah Revesby</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe width="100%" height="215" src="https://www.youtube.com/embed/zvrF_K-WrrA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <ion-slides class="slides" [options]='slideOpts'>
    <ion-slide *ngFor='let i of [1,2,3,4,5]'>
      <div>
        <img src="assets/images/hu.jpg">
        <!-- <p class="title">THE NUTCRACKER AND THE REALMS</p> -->
      </div>
    </ion-slide>
  </ion-slides>
  <ion-item>Upcoming Events</ion-item>
  
  <ion-slides class="slides" [options]=slideOpts2>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/images/gu.jpg" />
            </ion-thumbnail>
            <ion-label>17 feburary 2023<br> Friday</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/images/gu.jpg" />
            </ion-thumbnail>
            <ion-label>18 feburary 2023<br> Saturday</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/images/gu.jpg" />
            </ion-thumbnail>
            <ion-label>19 feburary 2023<br> Sunday</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/images/gu.jpg" />
            </ion-thumbnail>
            <ion-label>20 feburary 2023<br> Monday</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/images/gu.jpg" />
            </ion-thumbnail>
            <ion-label>21 feburary 2023<br> Tuesday</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item>OPEN DAY CELEBRATION</ion-item>
  
  <ion-slides [options]=slideOpts2>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/images/gu1.jpg" />
            </ion-thumbnail>
            <ion-label>OPEN DAY<br> CELEBRATION</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/images/gu1.jpg" />
            </ion-thumbnail>
            <ion-label>OPEN DAY<br> CELEBRATION</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/images/gu1.jpg" />
            </ion-thumbnail>
            <ion-label>OPEN DAY<br> CELEBRATION</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


    <div class="cards">
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/gu2.jpg" />
    <ion-card-header>
      <ion-card-title>SERVICES</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/gu2.jpg" />
    <ion-card-header>
      <ion-card-title>BHETA</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>
  </div>

    <div class="cards">
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/gu2.jpg" />
    <ion-card-header>
      <ion-card-title>Gurudwara Projects</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>




  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/gu2.jpg" />
    <ion-card-header>
      <ion-card-title>Events in Gurudwara</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>
</div>

      <div class="cards">
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/gu2.jpg" />
    <ion-card-header>
      <ion-card-title>Beta Sunder Gutka</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/gu2.jpg" />
    <ion-card-header>
      <ion-card-title>Punjabi School</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger">
    <!-- <ion-icon color="light" name="text"></ion-icon> -->
    <ion-label>Donate</ion-label>
  </ion-fab-button>
</ion-fab>

</ion-content>